BankService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://40.71.250.33/InterviewService/BankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DuckCreek.Custom.WebService.BankDetails" />
  <xs:element name="GetBanksForState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBanksForStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DuckCreek.Custom.WebService.BankDetails" minOccurs="0" name="GetBanksForStateResult" nillable="true" type="q1:ArrayOfBranchDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>