BankService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DuckCreek.Custom.WebService.BankDetails" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DuckCreek.Custom.WebService.BankDetails" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBranchDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BranchDetail" nillable="true" type="tns:BranchDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranchDetail" nillable="true" type="tns:ArrayOfBranchDetail" />
  <xs:complexType name="BranchDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewRoutingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoutingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipExtension" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchDetail" nillable="true" type="tns:BranchDetail" />
</xs:schema>